<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rawfare 2021</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <div class="my-fluid-container w-100">
    </div>
</body>
</html>